.targetBox {
    background-color: #242443;
    min-width: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.targetBox button {
    background-color: #242443;
    border: none;
    display: flex;
    align-items: center;
}

.targetBox a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.headTarget{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.headTarget button{
    left: 0;
}

.toDoOff{
    display: none;
}
.toDoOn{
    display: block;
}