#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.addButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}